@import url(../Home/fonts.css);
@import url(../../App.css);

.user-room-content{
    margin: 3.5vw auto;
    width: 100%;
    height: auto;
}
.main-container-vac{
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.main-container-fav{
    width: 60%;
    height: auto;
    margin: 0 auto;
}
.main-container-profiles{
    width: 80%;
    height: auto;
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
}
.vac-user-scrollblock{
    width: 100%;
    height: 40vw;
    box-sizing: border-box;
    padding: .8vw;
    overflow-y: scroll;
    scrollbar-width: .3vw;
    scrollbar-color: #D1DBE3 transparent;
}
.vac-fav-scrollblock{
    width: 100%;
    height: 40vw;
    box-sizing: border-box;
    padding: .8vw;
    overflow-y: scroll;
    scrollbar-width: .3vw;
    scrollbar-color: #D1DBE3 transparent;
}
.manual-container{
    width: 30%;
    height: auto;
}

.filters-user{
    width: 20vw;    
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    color: var(--primary-color); 
}
.filters-user h1{
    font-size: 1vw;
    font-weight: 700;
}
.filters-user span{
    font-weight: 900;
    color: var(--headings-color);
}

.vacations-user{
    width: 45vw;   
    margin: 0 auto;
    margin-top: 1.5vw;  
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.delete-button{
    display: flex;
    flex-direction: column;
    align-items: self-end;
    justify-content: flex-start;
}
.delete-button button{
    width: 1.5vw;
    height: 1.5vw;
    border: none;
    margin-right: .5vw; 
    background-image: url(../Images/Icons/close-button2.png);
    background-size: cover;
    background-color: transparent;
    transition: all ease-out .3s;
}
.delete-button button:hover{
    background-image: url(../Images/Icons/close-button.png);
    transition: all ease-in 0.3s;
}

.manual-buttons{
    display: flex;
    align-items: flex-start;
}
.edit-button {
    display: flex;
    margin-top: 1vw;
    margin-right: .5vw;
    text-decoration: none;
    color: var(--headings-color);
    font-size: .8vw;
    align-items: center;
    justify-content: center;
}
.img-edit{
    width: 1vw;
    height: 1vw;
    color: transparent;
    margin: 0 .5vw;
    background-image: url(../Images/Icons/edit.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.date-user{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    box-sizing: border-box;
    padding: 1vw 2vw;
    border: .1vw solid rgba(128, 128, 128, 0.39);
    border-top: none;
    border-radius: 0 0 .7vw .7vw;
}

.add-button {
    display: block;
    background-color: var(--primary-color) !important;
    color: var(--banner-background) !important  ;
    border: .1vw double var(--banner-background) !important;
}
.add-button:hover{
    transition: all ease-out .35s;
    scale: 1.2;
    border: .15vw dotted var(--banner-background) !important;
    background-color: #071351ef !important;
}

.active-button{
    display: block;
    background-color: var(--primary-color) !important;
    color: var(--banner-background) !important  ;
    border: .1vw double var(--banner-background) !important;
}

.profiles-user{
    width: 47vw;   
    margin: 0 auto;
    margin-top: 1.5vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.user_form{
    width: 60%;
    padding: 1vw;
    height: auto;
    margin: 2vw auto;
    border: .1vw solid var(--primary-color);
    border-radius: .7vw;
}
.user_form h1{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2vw;
    font-size: 1.3vw;
    color: var(--primary-color);
}

.user_form label{
    font-size: .8vw;
    margin-bottom: 0;
}
.user_form p{
    font-size: 1vw;
    margin: 0;
}

.group_userData{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group-form{
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.group-buttons a{
    display: block;
    box-sizing: border-box;
    padding: .5vw;
    font-size: 1vw;
    font-weight: 500;
    color: var(--banner-background);
    background-color: var(--primary-color);
    border: .1vw solid var(--banner-background);
    border-radius: .4vw;
}
.image-place{
    margin: 0 auto !important;
    background-image: none;
}

.head-fav{
    margin: 0 auto;
    margin-top: 5vw;
    box-sizing: border-box;
    padding: .5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head-fav a{
    text-decoration: none;
    box-sizing: border-box;
    padding: .5vw;
    border: .15vw solid var(--primary-color);
    border-radius: .3vw;
    color: var(--primary-color);
    font-size: .9vw;
    font-weight: 550;
    background-color: white;
    transition: all .5s ease-out;
}
.head-fav a:hover{
    background-color: rgba(0, 0, 255, 0.07);
}

.main-responses-container{
    margin: 0 auto;
    margin-top: 4vw;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.divide-line{
    width: .1vw;
    background-color: grey;
    height: 42vw;
}
.vacation-response{
    box-sizing: border-box;
    padding: .5vw;
    width: 50%;
    height: 40vw;
    color: var(--primary-color);
    font-size: .8vw;
}
.response-h{
    width: fit-content;
    font-size: 1.2vw;
    margin: 0 auto;
}
.profile-response{
    box-sizing: border-box;
    padding: .5vw;
    width: 50%;
    height: 40vw;
    height: auto;
    color: var(--primary-color);
    font-size: .8vw;
}

.vacation-response-scroll{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.profile-response-scroll{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.vacation-response-card{
    width: 95%;
    margin: .5vw auto;
    border: .1vw solid var(--primary-color);
    border-radius: .5vw;
    transition: all .4s ease-out;
}
.vacation-response-card:hover{
    border: .1vw solid var(--banner-background);
    box-shadow: 0px 0px 9px 0px var(--banner-background);
    transition: all .4s ease-out;
}
.card{
    box-sizing: border-box;
    padding: .5vw;
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}
.card h1{
    font-size: 1.2vw;
}
.card h2{
    font-size: 1vw;
}
.card strong{
    font-size: .8vw;
}

/* .card button{
    width: 1.2vw;
    height: 1.2vw;
    background-color: transparent;
    background-image: url(../Images/Icons/close.png);
    background-image: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;   
    transition: all .4s ease-out;
} */
.flex-buttons{
    display: flex;
    column-gap: 2vw;
}
.response-button{
    font-size: .7vw;
}